<div class="user-list">
  <ul class="user-posts">
    <li class="">
      <div class="user-post">
        <h3><%= "Post #{@post.id} by #{@post.author.name}" %></h3>
        <p class="comments-posts-count">Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>

        <button class="" type="submit">
          <%= form_with url: like_user_post_path(@user.id, @post.id), method: :post, remote: true do |form| %>
            <%= form.hidden_field :author_id, value: current_user.id %>
            <%= form.hidden_field :post_id, value: @post.id %>
            <%= form.submit "Like" %>
          <% end %>
        </button>
        <p>
          <br>
          <%= @post.text %>
        </p>
        <small class="post-count"></small>
      </div>
      <div class="comments">
        <ul>
          <% @post.comments.each do |comment| %>
            <li><%= "#{comment.user.name}: #{comment.text}" %></li>
          <% end %>
        </ul>
      </div> 
    </li>
  </ul>
</div>
