<div class="user-list">
  <ul class="user-posts">
    <li class="">
      <div class="user-post">
        <h3><%= "Post #{@post.id} by #{@post.author.name}" %></h3>
        <p class="comments-posts-count">Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>

        <%= link_to 'Like', like_user_post_path(@post), method: :post %>
        <p>
          <br>
          <%= @post.text %>
        </p>
        <small class="post-count"></small>
      </div>
      <div class="comments">
        <ul>
          <% @post.comments.each do |comment| %>
            <li><%= "#{comment.user.name}: #{comment.text}" %></li>
          <% end %>
        </ul>
      </div> 
    </li>
  </ul>
</div>
